{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class=" jumbotron">
        <h3 id="enterinf">Please enter your information!</h3>
    </div>
    <div class="jumbotron-fluid">
        {% if message %}
        <div>
            <p>
                {{error}}
            </p>
        </div>
        {% endif %}


        <form action="" method="post">
            <div class="form-group">
                <label form="name">Name</label>
                <input type="text" name="name" id="name" class="form-control " />
            </div>
            <div class="form-group">
                <p>Choose your sex:</p>
                <div>
                    <input type="radio" id="men" name="sex" value="men">
                    <label for="men">Men</label>
                </div>

                <div>
                    <input type="radio" id="women" name="sex" value="women">
                    <label for="women">Women</label>
                </div>
            </div>

            <div class="form-group">
                <label form="age">Age</label>
                <input type="number" min="1" max="100" step="1" name="age" id="age" class="form-control" />
            </div>

            <div class="form-group">
                <label form="height">Height</label>
                <input type="number" min="80" max="220" step="1" name="height" id="height" class="form-control" />
            </div>

            <div class="form-group">
                <label form="weight">Weight</label>
                <input type="number" min="40" max="150" step="1" name="weight" id="weight" class="form-control" />

            </div>
            <div>
                <button type="submit" class="btn btn-primary">COUNT MY BMI!</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
